.generalledger{
    margin-top: 10px;
}

.generalledger form .general1 fieldset{
    border: none;
    border-top: 1px solid #E8EAEC;
}
.generalledger form .general2 fieldset{
    border: none;
    border-top: 1px solid #E8EAEC;
}
@media (min-width: 820px){
    .generalledger form{
        display: flex;
    }
    .generalledger form .general1{
        max-width: 50vw;
        width: 100%;
    }
    .generalledger form .general1 fieldset{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
    .generalledger form .general2{
        max-width: 50vw;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .barrier{
        display: block; 
    }

}